@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 2rem 20%;
}

input[type="checkbox"] {
  appearance: none;
}

input[type="checkbox"] + label::before {
  border: 2px solid #afa5a5;
  border-radius: 5px;
  color: transparent;
  content: "\2713";
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 16px;
  margin: 10px;
  text-align: center;
}


input[type="checkbox"]:checked + label::before {
  border-color: #ffa500;
  color: black;
}
